
@{
    ViewData["Title"] = "Index";
}

@model List<ProductViewModel>

<h1>Products</h1>

@if(TempData["Status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Status"]
    </div>
}

<a asp-controller="products" asp-action="add">Add Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Published</th>
            <th>Expire Time(Months)</th>
            <th>Comments</th>
            <th>Publish Date</th>
            <th>Process</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width:100px; height:100px;" src="/images/@(item.ImagePath)"/>
                    }
                    else
                    {
                        <img style="width:100px; height:100px;" src="/images/noimage.png" />
                    }
                </td>
                <td>@item.CategoryName</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @if (@item.IsPublish)
                    {
                    <text>Yes</text>
                    }
                    else
                    {
                    <text>No</text>
                    }
                </td>
                <td >@item.Expire </td>
                <td>
                    @if (@item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)<text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }

                </td>
                <td>@item.PublishDate</td>
                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Remove</a>
                    <a asp-controller="products" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a asp-route="product" asp-route-productid="@item.Id">Go to Product Page</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="blog" asp-action="article" asp-route-name="article-name" asp-route-id="58">Go to article</a>

<a asp-route="productpage" asp-route-page="1" asp-route-pagesize="3">Give 3 products from 1 page</a>
<a asp-controller="products" asp-action="pages" asp-route-page="2" asp-route-pagesize="3">Give 3 products from 2 pages</a>